body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    background-color: #f5f5f5;
    color: #333;
}
@media (max-width: 550px) {
    body {
        padding-left: 0%;
        padding-right:0%;
    }
    #about{
        padding: 10px;
    }

    #section-header{
        padding: 10px;
    }
  }

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    margin: 0;
    font-size: 28px;
}

section {
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s;
}

@media (max-width: 550px) {
    section{
        padding: 0px;
    }
  }

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    margin-top: 0;
    font-size: 44px;
    animation: colorChange 1s infinite alternate;
}

h3{
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    animation: fadeIn 1s;
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    animation: slideIn 1s;
    justify-content: center;
    align-items: center;
}

#contact p {
    margin: 5px 0;
    animation: fadeIn 1s;
}

.about-text {
    line-height: 1.6;
    animation: fadeIn 1s;
}

.about-text p {
    margin-bottom: 15px;
    font-size: 24px;
}

@media (max-width: 550px) {
    .about-text p {
        font-size: 18px;
    }
  }

.about-text p:last-child {
    margin-bottom: 0;
}

.project-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.project-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Adjust the divider color as desired */
    margin-top: 40px; /* Adjust the margin top value as needed */
    margin-bottom: 40px; /* Adjust the margin bottom value as needed */
  }

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    font-size: 60px;
    margin-bottom: 10px;
}

.icon span {
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}

.icon-svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.svg-img{
    position: relative;
    bottom: 20px;
    width: 65px;
    margin-top: 10px;
}

.svg-text{
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    font-weight: 540;
}

.dropdown {
    display: inline-block;
    font-size: 20px;
}

@media (max-width: 550px) {
    .dropdown,
    .contact-info{
        padding: 10px;
    }
    
  }

.dropdown-toggle {
    display: none;
}

.dropdown-label {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;

}

#dropdown-1{
    position: absolute;
    left: 4%;
}



.dropdown-label:hover {
    background-color: #ccc;
}

.dropdown-label::after {
    content: '\25BC'; /* Down arrow Unicode character */
    display: inline-block;
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.dropdown-toggle:checked + .dropdown-label::after {
    transform: rotate(180deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-toggle:checked ~ .dropdown-content {
    max-height: 500px; /* Adjust the height as needed */
    transition: max-height 0.3s ease-in-out;
}

.project-description {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

@media (max-width: 550px) {
    .about-text p {
        font-size: 18px;
    }
    .project-description{
        font-size: 18px;
    }
  }

#iframe-container {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 600px;
    overflow: hidden;
  }

  @media (max-width: 1165px) {
    #iframe-container{
        width: 100%;
    }
  }

  .project-details{
    font-size: 30px;
  }

  .key-features{
    font-size: 20px;;
  }
  
  #my-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  #aot-trailer{
    width:60%
  }

  .skills-container{
    display: flex;
  }

  @media (max-width: 550px) {
    .skills-container{
        position: relative;
        right: 20px;
    }
    
  }
  
  .skill i {
    font-size: 40px;
    margin-right: 10px;
  }

.project-title{
    text-align: center;
}

.cpp-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    font-size: 60px;
    margin-bottom: 10px;
}

.cpp-icon span{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

  .skill-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-right: 15px;
  }
  
  .skill-icon span{
    margin-top: 15px;
    font-size: 18px;
  }

  @media (max-width: 550px) {
    #skill{
        font-size: 50px;
        margin:0;
      }
    .skill-icon span{
        font-size: 18px;
    }
    .skill-icon{
        position: relative;
        left:45px;
    }
  }
  

  @media (max-width: 768px) {
    .about-container {
      flex-wrap: wrap; /* Two icons per row */
    }
  }

  @media (max-width: 1165px) {

    .slideshow{
        width: 100%;
    }
    #aot-trailer{
        width: 100%;
    }
    .dropdown{
        font-size: 20px;
    }
    .prev-btn,
    .next-btn{
        font-size: 15px;
    }
  }

  #pfp {
    width:250px;
    height: 330px;
    margin-top: 60px;
  }

#icons-2{
    position: relative;
    left:20px;
}

#icons-3{
    position: relative;
    left:30px;
}

@media (max-width: 550px) {
    .cpp{
        margin-bottom: 15px;
    }
    .svg-text{
        margin-bottom: 15px;
    }
  }
#contact{
    font-size: 24px;
}

  .slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .slideshow {
    display: flex;
    overflow: hidden;
    animation: slide 10s infinite; /* Adjust animation duration as needed */
    width: 60%;
  }

  @media (max-width: 1165px) {

    .slideshow{
        width: 100%;
    }
  }
  

  
  .slideshow img {
    width: 100%;
    height: auto;
  }

  .controls {
    text-align: center;
    margin-top: 10px;
  }

  .project-icons-1{
    position: relative;
    left:25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}
  
  .controls button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .controls button:hover {
    background-color: #555;
  }
  
  .controls button:active {
    background-color: #777;
  }

.skills-container{
    display: flex;
    flex-wrap: wrap;
}




  