@import url(https://fonts.googleapis.com/css?family=Khula:700);

* { box-sizing: border-box; }
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    background: #282c34;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
  margin: 40px 0;
  position: relative;
  /*(this value / 2) / tan(20) for degree change*/
  width: 600px;
  height: 180px;
  bottom: 25vh;
  margin: 80px auto;
  perspective: 1000px;
  transform: translateY(100%);
  z-index: 1;
}

.carousel {
  width: 100%;
  position: absolute;
  transform: translateZ(-824.24px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 100%;
  height: 480px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
  transition: transform 0.3s; /* Add a smooth transition effect */
}
.carousel__cell-1{
    height: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */
}
.carousel__cell-1:hover{
    transform: scale(1.1);
    opacity: 1;
    background: black;
}

/* New rule to override :hover styles */
.carousel__cell-1.remove-hover,
.carousel__cell-2.remove-hover,
.carousel__cell-3.remove-hover{
    transform: none !important;
    opacity: initial !important;
    background: initial !important;
}

.carousel__cell-2{
    height: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */
}
.carousel__cell-2:hover{
    transform: scale(1.1);
    opacity: 1;
    background: black;
}

.carousel__cell-3{
    height: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */

}
.carousel__cell-3:hover{
    transform: scale(1.1);
    opacity: 1;
    background: black;
}




.maze-iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.movie-img{
    width: 100%;
    height: 100%;
}

#movie-img-id,
#movie-id{
  display: none;
}
.aot-trailer{
    width: 100%;
    height: 100%;
}

.carousel__cell:nth-child(9n+1) { 
    background: hsl(0, 0%, 0%); 
    opacity: 1;
}
.carousel__cell:nth-child(9n+1).hidden {
    opacity: 0;
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .carousel__cell:nth-child(9n+1).reveal {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }


.carousel__cell:nth-child(9n+2) {
    background: hsla(40, 100%, 50%, 0.8);
    opacity: 1;
  }
  .carousel__cell:nth-child(9n+2).hidden {
    opacity: 0;
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .carousel__cell:nth-child(9n+2).reveal {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
.carousel__cell:nth-child(9n+3) { 
    background: hsl(0, 0%, 0%); 
    opacity: 1;
}

.carousel__cell:nth-child(9n+3).hidden {
    opacity: 0;
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .carousel__cell:nth-child(9n+3).reveal {
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }


.carousel__cell:nth-child(9n+4) { background: hsla(0, 0%, 0%, 0.8); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(824.24px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(824.24px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(824.24px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(824.24px); }



.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.8);
}

.header {
    background-color: #111; /* Dark header background color */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    width: 200px;
}

.nav-links li {
    margin: 0 20px;
}

#logo-link{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    color: white;
}

#logo-link:hover{
    color: #39b54a;;
}

.nav-links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  transition: color 0.3s;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:hover {
    color: #39b54a; /* Hover color */
}

.tile-info {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    display: none; /* Initially hide the info */
    padding: 2px;
    margin-top: 550px; /* Adjust the value based on your design */
    font-size: 40px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.landing-page{
background: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 5vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  z-index: 0;
  
}

.hidden {
    opacity:0;
  }
  .console-container {
    font-family:Khula;
    font-size:70px;
    text-align:center;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  .project-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.popup-content {
    background: #fff;
    width: 300px;
    margin: 20% auto;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.overlay {
    display:none;
    position: fixed;
    top: 10vh;
    bottom: 10px; /* Adjust to control the vertical height */
    background-color: #1f2229;
    width: 60%;
    z-index: 0; /* Set the overlay z-index to a lower value */
    border-radius: 30px;
    animation: box-scale 1.5s forwards;
    text-align: center;
    justify-content: center;
    overflow-y: scroll;
    /* Customize the scrollbar styles */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #333 #666; /* Scrollbar thumb and track colors */
}

@keyframes box-scale {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }

    /* Cross-browser styles for Webkit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 10px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: #333; /* Scrollbar thumb color */
    }
  
    ::-webkit-scrollbar-track {
      background-color: #666; /* Scrollbar track color */
    }
  
.overlay.active{
    display:block;
}

  .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 18px;
  }
  

  
  .description {
    text-align: center;
    margin: 20px 0;
  }
  
  .languages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .language {
    margin: 0 20px;
    text-align: center;
  }
  
  .language img {
    width: 50px;
    height: 50px;
  }
  
  .language p {
    margin-top: 10px;
  }

  #iframe-container,
  #img-container{
    position: relative;
    left: 5px;
    width: 600px; /*600*/
    height: 478px;
  }
  #video-container{
    position: relative;
    left: 5px;
    width: 600px; /*600*/
    height: 100%;
  }


  .overlay-tile-info{
    text-align: center;
    justify-content: center;
    display: none;
    position: relative;
    top: 102px;
    font-size: 40px;
    width: 100%;
    max-width: 600px;
    left:4px;
  }

  .overlay-tile-desc{
    display: none;
    position: relative;
    top: 72px;
    font-size: 40px;
  }
  
  #key-features-title{
    text-align: center;
    position: relative;
    top: 20px;
  }

  .key-features{
    display: none;
    position: relative;
    text-align: initial;
    font-size: 40px;
    padding: 0;
    top: 10px;
  }

  .icons-container{
    display: none;
    text-align: initial;
    position: relative;
    font-size: 40px;
  }

  .icons-container h3{
    text-align: center;
    position: relative;
  }

.overlay-tile-desc.reveal{
    display: flex;
    animation: fadeIn 1s;
}
.icons-container.reveal,
.key-features.reveal{
    display: block;
    animation: fadeIn 1s;
}

.overlay-tile-info.reveal{
  display: flex;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 40px;
  }

  .close-button:hover{
    background-color: #121316;
  }

  .overlay.close{
    animation: ease box-scale-out 1s;
    display: none;
  }

  @keyframes box-scale-out {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

  .about-page {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 100%;
    height: 100%;
    background: #282c34; 
    z-index: 999;
    overflow-y: auto;
    transition: right 1s;
    margin: 80px auto;
    overflow-y: scroll;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
}
.about-page button{
  justify-content: left;
  text-align: left;
  align-items: left;;
}

.about-content {
    color: white;
    padding: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 24px;
    width: 100%;
    
}

.about-content p{
  text-align: left;
}

.close-about-button {
    float: left;
    margin-left: 15vw;
    margin-top: 30px;
    margin-right: -15vw;
    background-color: #333;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    margin-bottom: 30px;
}

.close-about-button:hover {
    background-color: #111;
    
}

#selfie{
  width: 350px;
  height: 500px;
}

.contact-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: transform 0.9s ease-in-out;
  transform: translateY(100%);
  background-color: #15171b;
  color: white;
  border-top: 4px solid black;
}

.contact-overlay-content {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.contact-overlay h2 {
  margin: 0;
}

.contact-oeverlay p {
  margin: 10px 0;
}

#closeOverlay {
  background: #4e565f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.instructions{
  color: white;
  font-size: 24px;
}
